.is-invalid{
    border: 1px solid #ff000094;
    background: #ff10001f;
}
.form-control:focus{
box-shadow: none;
}

.form-row {
    display: flex;
}

.form-col {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}

label.form-label {
    margin-bottom: 0;
}