<h6>Currency Pipe</h6>
<div>Amount: <b>{{amount}}</b></div>
<div>Amount: <b>{{amount | currency}}</b></div>
<div>Amount: <b>{{amount | currency: 'INR'}}</b></div>
<div>Amount: <b>{{amount | currency: 'EUR'}}</b></div>

<hr>
<h6>Case Pipe</h6>
<div>Channel Name: <b>{{channelName}}</b></div>
<div>Channel Name: <b>{{channelName | lowercase}}</b></div>
<div>Channel Name: <b>{{channelName | uppercase}}</b></div>
<div>Channel Name: <b>{{channelName | titlecase}}</b></div>
<hr>
<h6>Percentage Pipe</h6>
<div>Your Mark: <b>{{mark}}</b></div>
<div>Your Mark: <b>{{mark | percent}}</b></div>
<hr>
<h6>Date Pipe</h6>
<div>Today Date: <b>{{today}}</b></div>
<div>Today Date: <b>{{today | date}}</b></div>
<div>Today Date: <b>{{today | date: 'dd-MM-YYYY'}}</b></div>
<hr>