<div class="container">
    <app-data-binding class="d-none"/>
    <app-data-binding-exercise class="d-none"/>
    <app-attr-dir class="d-none"/>
    <app-divisible-task class="d-none"/>
    <app-parent class="d-none"/>
    <app-parent-task class="d-none"/>
    <app-template-reference class="d-none"/>
    <app-service-task class="d-none"/>
    <app-view-child-task class="d-none"/>
    <app-http-list class="d-none"/>
    <app-pipelines class="d-none"/>
    <app-custom-dir class="d-none"/>
    <app-template-form/>
    <app-reactive-form class="d-none"/>
    <app-reactive-form-task class="d-none"/>
    <app-custom-pipe class="d-none"/>
</div>